@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/clash-display?styles=106288,106285,106286,106287,106289,106284");

body {
  font-family: "Clash Display", sans-serif;
}

.landingPageNav {
  /* background-image: url("../assets/svg/navback.svg"); */
}

.landing__hero {
  background-image: url("../assets/svg/back.svg");
  background-repeat: no-repeat, no-repeat;
  /* background-position: center bottom , right bottom; */
}

/* mobile  */

@media screen and (max-width: 768px) {
  .landing__hero {
    /* background-image: url("../assets/svg/backmobile.svg"); */

  }
}


@media only screen
and (device-width: 375px)
and (device-height: 812px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait),
only screen
and (device-width: 414px)
and (device-height: 896px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) {
  /* Custom styles for iPhones */
  .hero__image {
    top: 70%;
  }
}