@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/clash-display");

body {
  font-family: "Clash Display", sans-serif;
}

.landingPageNav {
  background-image: url("../assets/svg/navback.svg");
}

.landing__hero {
  background-image: url("../assets/svg/back.svg");
  background-repeat: no-repeat;
}
